.card {
  line-height: 1.25;
  height: 225px;
  min-height: 225px;
  transition: box-shadow 0.3s, transform 0.3s;
  &:hover {
    transform: translateY(-1px);
    transition: box-shadow 0.3s, transform 0.3s;
    box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, .05);
  }
}


.card a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.flat-card-actions {
  opacity: 0%;
  width: 80%;
  margin: 0 auto;
  transform: translateY(-8px);
  visibility: hidden;
  transition: visibility 0.3s, height 0.3s, opacity 0.3s;
  &:hover {
    opacity: 100%;
    visibility: visible;
  }
  i {
    color: grey;
  }
}

.card:hover a + .flat-card-actions {
  // display: block;
  text-align: center;
  background-color: white;
  opacity: 100%;
  visibility: visible;
  transition: box-shadow 0.3s, visibility 0.3s, height 0.3s, opacity 0.3s, background-color 0.3s;
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, .05);
  i {
    color: grey;
    &:hover {
      color: black;
    }
  }
}
